// This is NOT the SelectLabel which is used to render the label of a group
.label {
  font: var(--font-body-2);
  color: var(--color-dark-100);
}

.disabled {
  color: var(--color-dark-300);
  user-select: none;
}

.selectTrigger {
  display: flex;
  height: 24px;
  width: 210px;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid var(--color-dark-300);
  background-color: transparent;
  padding: 6px 12px;
  font: var(--font-body-1);

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;
  }

  &:hover:not([disabled]) {
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-100);
  }

  &:focus {
    border-color: var(--color-accent-500);
    outline: 1px solid var(--color-accent-500);
  }

  &:active,
  &[data-state='open'] {
    border-color: var(--color-dark-100);
  }

  &[disabled] {
    cursor: default;
    border-color: var(--color-dark-300);
    color: var(--color-dark-300);
  }
}

.selectContent {
  position: relative;
  z-index: 50;
  width: var(--radix-select-trigger-width);
  overflow: hidden;
  border-radius: 0 0 2px 2px;
  border: 1px solid var(--color-dark-100);
  border-top: none;
  font: var(--font-body-2);
}

.selectLabel {
  padding: 0.375rem 0.5rem; /* Tailwind py-1.5 pl-8 pr-2 */
  font-size: 0.875rem; /* Tailwind text-sm */
  font-weight: 600; /* Tailwind font-semibold */
}

.selectItem {
  position: relative;
  display: flex;
  width: 100%;
  cursor: default;
  align-items: center;
  padding: 6px 12px;
  font: var(--font-body-1);
  outline: none;

  &:hover {
    background-color: var(--color-accent-900);
    color: var(--color-accent-300);
  }
}
