button {
  all: unset;
}

/** This is label above the Select. This is NOT the Radix SelectLabel which is used to render the label of a group */
.label {
  font: var(--font-body-2);
  color: var(--color-dark-100);
}

.disabled {
  color: var(--color-dark-300);
  user-select: none;
}

.selectTrigger {
  display: flex;
  width: 210px;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid var(--color-dark-300);
  background-color: transparent;
  padding: 6px 12px;
  font: var(--font-body-1);

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;
  }

  &:hover:not([disabled]) {
    background-color: var(--color-dark-500);
    border-color: var(--color-dark-100);

    &.compact {
      border-color: var(--color-dark-300);
    }
  }

  &:focus:not(.compact) {
    border-color: var(--color-accent-500);
    outline: 1px solid var(--color-accent-500);
  }

  &[data-state='open'] {
    &:not(.compact) {
      border-color: var(--color-dark-100);
    }
  }
  &:active {
    border-color: var(--color-dark-100);
  }

  &[disabled] {
    cursor: default;
    border-color: var(--color-dark-300);
    color: var(--color-dark-300);
  }

  &.compact {
    background-color: var(--color-dark-700);
    border-color: var(--color-dark-500);
    width: 40px;
    font: var(--font-body-2);
    padding: 0 3px 0 5px;
  }
}

.selectIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectContent {
  position: relative;
  z-index: 50;
  width: var(--radix-select-trigger-width);
  overflow: hidden;
  border-radius: 0 0 2px 2px;
  border: 1px solid var(--color-dark-100);
  border-top: none;
  font: var(--font-body-2);

  &.compact {
    border-color: var(--color-dark-500);
    background-color: var(--color-dark-700);
  }
}

.selectItem {
  position: relative;
  display: flex;
  width: 100%;
  cursor: default;
  align-items: center;
  padding: 6px 12px;
  font: var(--font-body-1);
  outline: none;

  &:hover {
    background-color: var(--color-accent-900);
    color: var(--color-accent-300);
  }

  &.compact {
    font: var(--font-body-2);
    padding: 0 3px 0 5px;
  }
}
