.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.thead {
  background-color: var(--color-dark-500);
  user-select: none;
  white-space: nowrap;
}

.tbody {
}

.th,
.td {
  padding: 6px 24px;
}

.tr {
  border: 1px solid var(--color-dark-500);
}

.iconContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.icon {
  transform: translate(4px, 1.5px);
}
