.rootContainer {
  display: flex;
  gap: 24px;
  align-items: center;
}

.paginationContainer {
  display: flex;
  gap: 12px;
  align-items: center;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;

    background-color: transparent;
    border: none;
    border-radius: 2px;
    outline: none;

    transition: 0.2s ease-in-out;

    padding: 0 8px;

    &.arrow {
      padding: 0;
      width: 24px;
      height: 24px;

      &:disabled {
        color: var(--color-dark-100);

        &:hover {
          cursor: default;
          background-color: inherit;
        }
      }
    }

    &.dots {
      cursor: default;

      &:hover {
        background-color: inherit;
      }
    }

    &:hover {
      background-color: var(--color-dark-500);
    }

    &:focus {
      outline: 2px solid var(--color-info-900);
      background-color: inherit;
    }

    &.selected {
      cursor: pointer;
      color: var(--color-dark-900);
      background-color: var(--color-light-100);
    }
  }
}

.selectContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

//@media screen and (width <= 640px) {
//  .container {
//    flex-direction: column-reverse;
//    justify-content: center;
//  }
//
//  .pagination {
//    gap: 3px;
//  }
//}
