fieldset {
  all: unset;
}

.DialogOverlay {
  position: fixed;
  inset: 0;
}

.DialogContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 542px;
  padding: 24px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-500);
  margin-inline: -24px;
  padding: 0 24px 24px 24px;
}

.DialogTitle {
  margin: 0;
}

.CloseButton {
  font-family: inherit;
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Fieldset {
  display: flex;
  flex-direction: column;
  gap: 18px;

  img {
    width: 100%;
  }
}

.deleteCardContainer {
  padding: 18px 24px;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 12px;
}
