:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-s-16: 16px;
  --line-height-m-24: 24px;
  --line-height-l-36: 36px;

  // font sizes
  --font-size-xs-12: 0.75rem;
  --font-size-s-14: 0.875rem;
  --font-size-m-16: 1rem;
  --font-size-l-18: 1.125rem;
  --font-size-xl-20: 1.25rem;
  --font-size-xxl-26: 1.625rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  // fonts
  --font-h1: normal normal var(--font-weight-bold) normal var(--font-size-xxl-26) /
    var(--line-height-l-36) var(--font-family-primary);
  --font-h2: normal normal var(--font-weight-bold) normal var(--font-size-xl-20) /
    var(--line-height-l-36) var(--font-family-primary);
  --font-h3: normal normal var(--font-weight-bold) normal var(--font-size-l-18) /
    var(--line-height-m-24) var(--font-family-primary);
  --font-h4: normal normal var(--font-weight-bold) normal var(--font-size-m-16) /
    var(--line-height-m-24) var(--font-family-primary);
  --font-body-1: normal normal var(--font-weight-regular) normal var(--font-size-m-16) /
    var(--line-height-m-24) var(--font-family-primary);
  --font-subtitle-1: normal normal var(--font-weight-bold) normal var(--font-size-m-16) /
    var(--line-height-m-24) var(--font-family-primary);
  --font-body-2: normal normal var(--font-weight-regular) normal var(--font-size-s-14) /
    var(--line-height-m-24) var(--font-family-primary);
  --font-subtitle-2: normal normal var(--font-weight-bold) normal var(--font-size-s-14) /
    var(--line-height-m-24) var(--font-family-primary);
  --font-capaition: normal normal var(--font-weight-regular) normal var(--font-size-xs-12) /
    var(--line-height-s-16) var(--font-family-primary);
  --font-overline: normal normal var(--font-weight-bold) normal var(--font-size-xs-12) /
    var(--line-height-s-16) var(--font-family-primary);
  --font-link-1: normal normal var(--font-weight-regular) normal var(--font-size-s-14) /
    var(--line-height-m-24) var(--font-family-primary);
  --font-link-2: normal normal var(--font-weight-regular) normal var(--font-size-xs-12) /
    var(--line-height-s-16) var(--font-family-primary);
}
