:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  // font sizes
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.625rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  // fonts
  --font-h1: normal normal var(--font-weight-bold) normal var(--font-size-xxl) /
    var(--line-height-l) var(--font-family-primary);
  --font-h2: normal normal var(--font-weight-bold) normal var(--font-size-xl) / var(--line-height-l)
    var(--font-family-primary);
  --font-h3: normal normal var(--font-weight-bold) normal var(--font-size-l) / var(--line-height-m)
    var(--font-family-primary);
  --font-h4: normal normal var(--font-weight-bold) normal var(--font-size-m) / var(--line-height-m)
    var(--font-family-primary);
  --font-body-1: normal normal var(--font-weight-regular) normal var(--font-size-m) /
    var(--line-height-m) var(--font-family-primary);
  --font-subtitle-1: normal normal var(--font-weight-bold) normal var(--font-size-m) /
    var(--line-height-m) var(--font-family-primary);
  --font-body-2: normal normal var(--font-weight-regular) normal var(--font-size-s) /
    var(--line-height-m) var(--font-family-primary);
  --font-subtitle-2: normal normal var(--font-weight-bold) normal var(--font-size-s) /
    var(--line-height-m) var(--font-family-primary);
  --font-capaition: normal normal var(--font-weight-regular) normal var(--font-size-xs) /
    var(--line-height-s) var(--font-family-primary);
  --font-overline: normal normal var(--font-weight-bold) normal var(--font-size-xs) /
    var(--line-height-s) var(--font-family-primary);
  --font-link-1: normal normal var(--font-weight-regular) normal var(--font-size-s) /
    var(--line-height-m) var(--font-family-primary);
  --font-link-2: normal normal var(--font-weight-regular) normal var(--font-size-xs) /
    var(--line-height-s) var(--font-family-primary);
}
