.button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  gap: 10px;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  color: inherit;
  text-align: center;
  white-space: nowrap;

  border-radius: 2px;
  outline: none;

  &:disabled,
  &.disabledLink {
    cursor: default;
  }
}

.primary {
  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 var(--color-button-accent-shadow);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    background-color: var(--color-accent-500);
    outline: 2px solid var(--color-info-700);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled,
  &.disabledLink {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);

    // This ensures no focus style when disabled.
    &:focus {
      background-color: var(--color-accent-900);
      outline: none;
    }
  }
}

.secondary {
  color: var(--color-light-100);
  background-color: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 var(--color-button-dark-shadow);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus {
    background-color: var(--color-dark-300);
    outline: 2px solid var(--color-info-700);
  }

  &:active {
    background-color: var(--color-dark-700);
  }

  &:disabled,
  &.disabledLink {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);

    // This ensures no focus style when disabled.
    &:focus {
      background-color: var(--color-dark-300);
      outline: none;
    }
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
}
