.furtherInstruction {
  text-align: center;
  margin-top: -8px;
  color: var(--color-light-900);
}

.rememberPassword {
  color: var(--color-light-900);
}

.buttonBackToSignIn {
  margin-top: 33px;
}
