.card {
  //width: 420px;
  //display: flex;
  //flex-direction: column;
  align-items: start;
  //gap: 24px;
}

.forgotPassword {
  align-self: end;
  //margin-left: auto;
  //margin-top: -24px;
}

.rememberMe {
  align-self: end;
  //margin-left: auto;
  //margin-top: -24px;
}
