.card {
  all: unset;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  width: 420px;
  padding: 36px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-600);
  box-shadow: -1px -1px 2px 0 var(--color-card-shadow);
}

.title {
}
