.table {
  margin-top: 36px;
}

.actions span {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.cover {
  max-width: 118px;
  max-height: 48px;
}
